Domain models
- Event
- Booking
- Event status

Repositories
- booking repo
- Event repo

Dtos
- event req
- booking req

exceptions
- resource not found
- bad request

services
- event
- booking services
    - verify event exists
    - cannot book if status is closed
    - cannot book if event has no remaining Capacity
    - same email cannot book the same event more than once
    - create and save the new booking record
    - increase booked seats count
    - auto set event status to closed when fully booked

Core Business Logic 
- Date Validation
- Capacity guards
- status guards

Storage choice 
- H2 DB